POSTGRES_DB=customer_orders
POSTGRES_USER=user
POSTGRES_PASSWORD=password

DJANGO_ALLOWED_HOSTS=*
DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=9032rhasda)^gg&)(\=\se3sfsfx@jz1*5vw^96iibc7%0jqd3-sdf38+

AFRICAS_TALKING_API_KEY=
AFRICAS_TALKING_USERNAME= 
AFRICAS_TALKING_BASE_URL=https://api.sandbox.africastalking.com/version1

GOOGLE_OAUTH_CLIENT_ID= 
GOOGLE_OAUTH_CLIENT_SECRET= 
